<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Churn Prediction Agent</title>

    <link rel="stylesheet" href="/static/style.css">


</head>

<body>

<div class="container">

    <h1>Agente de Previsão de Churn</h1>

    <p>Previsão do risco de cancelamento de clientes e sugestões de ação para retenção.</p>

    <form id="predictForm"></form>

    <button onclick="predict()">
        Analisar Cliente
    </button>

    <div id="result"></div>

</div>

<script src="/static/script.js"></script>

</body>

</html>